// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo {
  max-width: 50px;
  height: auto
}

.image {
  width: 500px;
  height: 300px
}

.index, .show {
  background-image: asset_url('purple_wallpaper.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  color: #FFFFFF
}
